<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <form id= "formlogin" action="/login/reviews/edit/<%=resultado.id %>" method="post">
        <h1 style= "color: black"> Edit Review </h1>
        <div class="imgcontainer">
          
        </div>
      
        <div class="container">
          
           

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
          <label for="psw"><b>email</b></label>
          <input type="email"  name="email" required>
      
          <button type="submit">Confirm</button>
         
        </div>
      
       
        <div>
        <label for="resena"><b>Review</b></label>
        <textarea name="resena" id="resena" cols="50" rows="3"> <%=resultado.textoResena %> </textarea>
        
        <div>
          <label for="resena"><b> </b>Puntaje: </label>
          <input type="radio" name="ranking" value="1">
          <label for="">1</label>
          <input type="radio" name="ranking" value="2">
          <label for="">2</label>
          <input type="radio" name="ranking" value="3">
          <label for="">3</label>
          <input type="radio" name="ranking" value="4">
          <label for="">4</label>
          <input type="radio" name="ranking" value="5">
          <label for="">5</label>
          <input type="radio" name="ranking" value="6">
          <label for="">6</label>
          <input type="radio" name="ranking" value="7">
          <label for="">7</label>
          <input type="radio" name="ranking" value="8">
          <label for="">8</label>
          <input type="radio" name="ranking" value="9">
          <label for="">9</label>
          <input type="radio" name="ranking" value="10">
          <label for="">10</label>
          <p> Puntaje anterior: <%=resultado.puntaje %> </p>
        </div>
      

        <button type="submit" name="button"> OK </button>
      </form>


</body>
</html>