<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <form id= "formlogin" action="/login/reviews/edit/ <%= resultado.id %>" method="post">
        <h1 style= "color:white"> Edit Review </h1>
        <div class="imgcontainer">
          <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
          
           

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
          <label for="psw"><b>email</b></label>
          <input type="email"  name="email" required>
      
          <button type="submit">Confirm</button>
         
        </div>
      
       
        <div>
        <label for="resena"><b>Review</b></label>
        <textarea name="resena" id="resena" cols="50" rows="3"> <%= resultado.resena %> </textarea>
        <label for="resena"><b>Review</b>Puntaje: </label>
        <input type="range" id="points" name="puntaje" min="0" max="10" onchange="updateValue (this.value)" >
        <p> <%=resultado.puntaje %> </p>
        </div>

        <button type="submit" name="button"> OK </button>
      </form>


</body>
</html>