<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/home.js" ></script>


  </head>
  <body>
    <header>
        <nav>
            <ul class="logo-list">
                <li class="logo"> <img src="/images/dh.png" alt=""> </li>
            </ul>
            <ul class="ul-menu">
                <li class="menu-item home"><a class="color-violet" href="home">Inicio</a></li>
                <li class="menu-item"><a class="color-violet" href="seriesGenres">Géneros</a></li>
                <li class="menu-item"><a class="color-violet" href="buscador">Buscador</a></li>
                <li class="menu-item"><a class="color-violet" href="buscaUsuario">Buscador de usuarios</a></li>
                <li class="menu-item"><a class="color-violet" href="login">Login</a></li>
                  <li class="menu-item search">
                    <form class="" action="resultadoBusqueda" method="GET">
                        <input class="input-search" type="text" name="query" value="">
                        <button class="btn-search" type="submit">Buscar</button>
                    </form>
                </li>

            </ul>
        </nav>
    </header>
    <main>
        <div class="uk-section fondoNegro">
          <!-- <div class="uk-container"> -->
          <h2>Popular Series</h2>
          <div class="slider uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true; autoplay: true">
            <ul class="uk-slider-items uk-grid" id="populares">
              <!-- POPULARES -->
            </ul>
            <a class="iconSlider uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="iconSlider uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>
        <!-- </div> -->
      </div>
        <div class="uk-section fondoNegro">
          <!-- <div class="uk-container"> -->
          <h2>Top Rated Series</h2>
          <div class="slider uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true; autoplay: true">
            <ul class="uk-slider-items uk-grid" id="top-rated">
              <!-- TOP RATED -->
            </ul>
            <a class="iconSlider uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="iconSlider uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>
      <!-- </div> -->
      </div>
      <!-- </div> -->
        <div class="uk-section fondoNegro">
          <!-- <div class="uk-container"> -->
          <h2>Airing Today</h2>
          <div class="slider uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true; autoplay: true">
            <ul class="uk-slider-items uk-grid" id="airing">
              <!-- AIRING TODAY -->
            </ul>
            <a class="iconSlider uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="iconSlider uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>
        <!-- </div> -->
      </div>
    </main>
    
    <br>
    <footer class="footer">
    <br>
      <p class="footerT">Catalina Cardona  -  Serena Papazian  -  Valentina Socin Casas</p>
   <br>

    </footer>
    <br>
  </body>
</html>
