<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    



    <form id= "formlogin" action="/login/reviews/delete/<%=deleteId %>" method="post">
        <h1 style= "color: black"> Delete </h1>
        <div class="imgcontainer">
        </div>
      
        <div class="container">
          
            <p> Confirm user to erase a review</p>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
          <label for="psw"><b>email</b></label>
          <input type="email"  name="email" required>
      
          <button type="submit">Confirm</button>
         
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>

</body>
</html>