<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="modal-sections" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Log In</h2>
            </div>
            <div class="uk-modal-body">
              <div class="container">
                <form class="login">


       <label for="uname"><b>Usuario</b></label>
       <input type="text" placeholder="Usuario" name="uname" required class="nombreDeUsuario">

            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-primary" type="submit">LogIn</button>
            </div>
            </form>
        </div>
    </div>
    </div>
    <header>
      <!-- header-->
      <div class="header">
    <a href="#principal" class="logo">
      <img src="logo.PNG"> </a>
      <div class="header-right">
      <a class="active" href="#home">HOME</a>
      <a href="#generos"</div> GENEROS</a>
      <span class="espacio-login">
        <a href="#LOGIN"><a class="uk-button uk-button-default" href="#modal-sections" uk-toggle>LogIn</a>
      </span>

</a>
</body>
</html>