<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/seriesGenres.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/seriesGenres.js" ></script>
  </head>
  <body>
    <header>
        <nav>
            <ul class="logo-list">
                <li class="logo"> <img src="/images/dh.png" alt=""> </li>
            </ul>
            <ul class="ul-menu">
                <li class="menu-item home"><a class="color-violet" href="home.html">Inicio</a></li>
                <li class="menu-item"><a class="color-violet" href="seriesGenres.html">Géneros</a></li>
                <li class="menu-item"><a class="color-violet" href="buscador.html">Buscador</a></li>
                <li class="menu-item search">
                    <form class="" action="resultadoBusqueda.html" method="GET">
                        <input class="input-search" type="text" name="query" value="">
                        <button class="btn-search" type="submit" name="">Buscar</button>
                    </form>
                </li>

            </ul>
        </nav>
    </header>

    <main>
      <div class="uk-section">
        <div class="uk-container">
          <ul class="lista-generos">

          </ul>
        </div>
      </div>
    </main>

  </body>
</html>
