<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/usuarios/store" method="POST">
		<label>Nombre de usuario:</label>
		<input type="text" name="user" value= "">
		<br>
		
		<label>Email:</label>
		<input type="text" name="email">
		<br>
		
		<label>Password:</label>
		<input type="text" name="password">
		<br>
		
		<label>Fecha de nacimiento:</label>
		<input type="date" name="birthDate">
		<br>
		
		<button type="submit">GUARDAR</button>
	</form>
	
</body>
</html>