<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/buscador.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/home.js" ></script>
    <script src="/javascripts/buscador.js"></script>

</head>
<body>

  <header>
      <nav>
          <ul class="logo-list">
              <li class="logo"> <img src="/images/dh.png" alt=""> </li>
          </ul>
          <ul class="ul-menu">
              <li class="menu-item home"><a class="color-violet" href="home">Inicio</a></li>
              <li class="menu-item"><a class="color-violet" href="seriesGenres">Géneros</a></li>
              <li class="menu-item"><a class="color-violet" href="buscador">Buscador</a></li>
              <li class="menu-item"><a class="color-violet" href="buscaUsuario">Buscador de usuarios</a></li>
              <li class="menu-item"><a class="color-violet" href="usuarios/index">Registrarse</a></li>
              <li class="menu-item"><a class="color-violet" href="login">Mis reseñas</a></li>
              <li class="menu-item search">
                  <form class="" action="" method="GET">
                      <input class="input-search" type="text" name="input-search" value="">
                      <button class="btn-search" type="submit" name="button">Buscar</button>
                  </form>
              </li>

          </ul>
      </nav>
  </header>

  <ul>
    <% if (usuarioBuscado.length > 0) { %>
    <% for( let i = 0; i < usuarioBuscado.length; i++ ) { %>
        <li>
            <%= usuarioBuscado.email %> 
                <br><b>Usuarios:</b> <br>
               
                    <i>
                        <%= usuarioBuscado[i].email %> 
                        <a href="/buscaUsuario/detalleUsuario/<%= usuarioBuscado[i].id %>">ver detalle</a>
                    </i> <br>
               
            <% } %>
            <hr>
        </li>
    <% } else{ %>
        <h2>No se encontaron Usuarios en tu busqueda</h2>
        <% } %>
</ul>
    

    <br>
    <footer class="footer">
    <br>
      <p class="footerT">Catalina Cardona  -  Serena Papazian  -  Valentina Socin Casas</p>
   <br>

    </footer>
    <br>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
</html>