main{
  margin-top: 85px;
  background-color: black;
}
.dataSerie h1, .dataSerie p, .dataSerie h3, .dataSerie a {
  color: white;
}
.dataSerie a:hover{
  color: white;
}

.noAvailable{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.listaTemporadas li{
  margin-left: 8px;
}
.listaTemporadas img{
  max-height: 430px;
  width: 100%;
}
