main{
  margin-top: 85px;
}
#resultados div{
  width: 30%;
  text-align: center;
  border: 1px solid black;
  padding: 1px;
}
#resultados div img{
  width: 100%;
  max-height: 580px;
}
footer{
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(112, 19, 138, 0.86), #c5454d);
  width: 100%;
  
}